*{
    margin: 0;
    padding: 0;
}

.first_page {
  background-image: url("../images/gradient_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 29px;
  padding-bottom: 30px;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  color: #fff;
  position: relative;
}

.container {
  max-width: 1296px;
  margin: auto;
}

.d-flex {
  display: flex;
}

header {
  justify-content: space-between;
  margin-bottom: 198px;
}

nav {
  color: #fff;
}

.menu_item {
  margin-right: 30px;
  list-style-type: none;
}

.menu_item a {
  text-decoration: none;
  color: white;
}

.container h1 {
  font-size: 80px;
  margin-bottom: 10px;
}

.container h2{
    font-size: 30px;
    margin-bottom: 45px;
}

.app_link{
    padding: 20px 40px;
    background-color: #FC0A7E;
    text-decoration: none;
    color: #fff;
}

.arrow{
    position: absolute;
    bottom: 30px;
    left: 50%;
}
